.stats-container{
  img{
    opacity: 0.3;
    height: 60px;
    width: 60px;
  }
  h1,p{
    z-index:1;
  }
}
#bibi{
  position: absolute;
  right: 30px;
}
.bg-icon{
  position: absolute;
  z-index: 0;
    height: 80px;
    width: 80px;
}
