.baby {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  height: 90px;
}

.baby_name_index {
  margin-left: 15px;
  margin-bottom: 0px; 
}

.fas {
  width: 30px;
  font-size: 30px;
  color: $pink-card;
  margin: 10px;
} 

.text-up {
  margin: 10px;
}

#color {
  color: $font-color;
}

.text-decoration {
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
