.baby-profile-card {
  height: 190px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.fa-moon,
.fa-utensils,
.last-eat,
.last-sleep {
  color: white;

  p {
    color: white;
    margin-top: 0;
    margin-bottom: 0;
  }

  i {
    color: white;
    font-size: 15px;
    width: 10px;
    margin-right: 10px;
  }
}

.bg-foot {
  height: 100px;
  background: url("https://res.cloudinary.com/dw4harw6z/image/upload/v1617278572/feet_nrgzdn.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heal-card {
  height: 100px;

  p {
    z-index: 2;
  }

  i {
    color: $pink;
    position: absolute;
    font-size: 80px;
    width: 100%;
    text-align: center;
  }
}

.all-events {
  height: 100px;
  color: $pink;

  i {
    font-size: 70px;
    display: block;
    position: absolute;
    right: 40px;
    color: $pink;
  }

  p {
    display: block;
    position: absolute;
    left: 20px;
    bottom: 0;
  }
}

.title-child {
  display: block;
  position: absolute;
  bottom: 0;
  left: 15px;

  p {
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.card-title-dark {
  font-size: 18px;
  color: $font-color;
  font-weight: 700;
}
