.baby-profile-card {
  height: 190px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.fa-moon,
.fa-utensils,
.last-eat,
.last-sleep {
  color: white;

  p {
    color: white;
    margin-top: 0;
    margin-bottom: 0;
  }

  i {
    color: white;
    font-size: 15px;
    width: 10px;
    margin-right: 10px;
  }
}

.bg-foot {
  height: 100px;
  background: url("feet.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heal-card {
  height: 100px;

  p{
    z-index: 2;
  }

  i {
    color: $pink;
    position: absolute;
    font-size: 80px;
    width: 100%;
    text-align: center;
  }
}

.all-events {
  height: 100px;
  color: $pink;

  i {
    font-size: 60px;
  }
}
