.baby-profile-card{
  height: 190px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.last-sleep, .last-eat, .fa-utensils, .fa-moon{
  color: white;
  p{
    color: white;
  }
  a{
    color: white;
  }
}
