<% unless (params[:controller] == "babies") && (params[:action] == "index") %>
  <div class="menubar">
    <i class="fas fa-check-circle"></i>
    <% unless (params[:controller] == "events") && (params[:action] == "new" || "choose_type") %>
    <% if @baby.id %>
      <%= link_to choose_type_baby_events_path(@baby) do%>
      <div class="button-circle mb-5">
        <%= image_tag "add.png", class: "circle-plus" %>
      </div>
      <%end %>
      <% end %>
  <%end %>
  <i class="fas fa-cog"></i>
</div>
<% end%>
