  <div class="container">

    <div class="text">
      <h1>Ajouter</h1>
      <p>un événement</p>
    </div>



    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <% @daily_types.each do |type| %>
            <%= link_to new_baby_event_path, class: "text-decoration" do %>
              <div class="card baby">
                <h2><%= type %></h2>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="carousel-item">
          <% @health_types.each do |type| %>
              <div class="card baby">
                <h2><%= type %></h2>
              </div>
            <% end %>
        </div>
        <div class="carousel-item">
          <% @other_event_types.each do |type| %>
            <div class="card baby">
              <h2><%= type %></h2>
            </div>
          <% end %>
        </div>
      </div>
      <a class="carousel-control-prev" role="button" data-target="#carouselExampleIndicators" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" role="button" data-target="#carouselExampleIndicators" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
</div>
