<div class="bg-img">
  <div class="container d-flex align-items-center flex-column justify-content-center pt-5">
    <%= image_tag "logo.png", class: "logo" %>
    <p class="button mt-5">Login</p>
    <p class="button-secondary mt-1">Signup</p>
  </div>
</div>
