<div class="container">
  <div>
    <h1><%= @baby.name %></h1>
    <div class="custom-select" style="width:200px;">
      <select>
        <option value="0">Hier</option>
        <option value="1">Semaine dernière</option>
        <option value="2">Mois dernier</option>
      </select>
    </div>
  </div>
</div>
