<body>
  <div class="container">
    <h1>Sélectionner</h1>
    <p>Un enfant</p>
      <% @babies.each do |baby| %>
        <div class="card" id="baby">
          <div><%= cl_image_tag baby.photo.key, height: 200, width: 350, crop: :fill, class: "avatar-large" %></div>
          <h2 id="baby_name"><%= baby.name %></h2>
        </div>
      <% end %>
      <div class="card" id="baby">
        <i class="fas fa-plus"></i>
        <h2 id="baby_name">Nouvel enfant</h2>
      </div>
  </div>
</body>
