<div class="container">
  <div class="text-up">
    <h1>Sélectionner</h1>
    <p>Un enfant</p>
  </div>
    <% @babies.each do |baby| %>
      <%= link_to baby_path(baby), class: "text-decoration" do %>
        <div class="card baby">
          <div><%= cl_image_tag baby.photo.key, height: 200, width: 350, crop: :fill, class: "avatar-large" %></div>
          <h2 class="baby_name_index"><%= baby.name %></h2>
        </div>
      <% end %>
    <% end %>
    <%= link_to new_baby_path, class: "text-decoration" do %>
    <div class="card baby">
      <i class="fas fa-plus"></i>
      <h2 class="baby_name_index" id="color">Nouvel enfant</h2>
    </div>
    <% end %>
</div>
