.button {
  color: white;
  font-weight: 900;
  background-color: $green;
  padding: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  width: 170px;
  display: block;
  text-align: center;
  &:hover{
    text-decoration: none;
    color: white;
  }
}
.button-secondary {
  font-weight: 900;
  color: $green;
  background-color: #d4f7e5;
  padding: 10px;
  font-size: 18px;
  width: 170px;
  display: block;
  text-align: center;
  &:hover{
    text-decoration: none;
    color: $green;
  }
}
