.card {
  border: none;
  background-color: $card-bg;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

  h2 {
    font-weight: 700;
    color: $pink-card;
  }
}

.event-card {
  border: none;
  background-color: $card-bg;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.event-icon {
  margin-left: 10px;
  margin-right: 20px;
}