label{
  font-size: 24px;
  color: $font-color;
  font-weight: 700;
}
input[type=text]{
  background-color: $form-bg;
  border: none;
  padding: 10px;
  color: #A79696;
  font-size: 18px;
  border-radius: 3px;
}
input[type=submit]{
  color: white;
  font-weight: 900;
  background-color: $green;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  width: 170px;
  display: block;
  text-align: center;
  border: none;
}
