label {
  font-size: 24px;
  color: $font-color;
  font-weight: 700;
}

input, .form-control {
  background-color: $form-bg;
  border: none;
  padding: 10px;
  color: #A79696;
  font-size: 18px;
  border-radius: 3px;
  width: 100%;
}

input[type=number] {
  background-color: $form-bg;
  border: none;
  padding: 10px;
  color: #A79696;
  font-size: 18px;
  border-radius: 3px;
  width: 100%;
}

input[type=submit] {
  color: white;
  font-weight: 900;
  background-color: $green;
  padding: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  width: 170px;
  display: block;
  text-align: center;
  border: none;
  &:hover{
    color: white;
  }
}

input:focus,
textarea:focus {
  outline: none;
}
<<<<<<< HEAD

.form-control {
  background-color: $form-bg;
=======
.gray_link{
  color: lightgray;
}
a{
  color: lightgray;
  &:hover{
    color: lightgray;
  }
>>>>>>> ee1c7608e5e9a6a65e1a989d41274d510c56358d
}
